@{
    ViewData["Title"] = "Edit Voyage";
}
@model Negin.WebUI.Models.ViewModels.VoyageViewModel

<div class="card mb-5 mb-xl-10">
	<!--begin::Card header-->
	<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
		<!--begin::Card title-->
		<div class="card-title m-0">
			<h3 class="fw-bold m-0">@ViewData["Title"]</h3>
		</div>
		<!--end::Card title-->
	</div>
	<!--begin::Card header-->
	<!--begin::Content-->
	<div class="collapse show">
		<!--begin::Form-->
		<form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" asp-controller="BasicInfo" asp-action="EditVoyage" method="post">
			<!--begin::Card body-->
			<div class="card-body border-top p-9">
				<!--begin::Input group-->
				<div class="row mb-6">
					<!--begin::Col-->
					<div class="col-lg-4">
						<div class="input-group input-group-solid mb-5">
							<span class="input-group-text required">Voyage Number In</span>
							<input type="text" asp-for="Voyage.VoyageNoIn" maxlength="20" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 hasMaxlength">
							<input type="hidden" asp-for="Voyage.Id" />
						</div>
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-4">
						<div class="input-group input-group-solid mb-5">
							<span class="input-group-text required">Vessel</span>
							<div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
								<select type="text" asp-for="Voyage.VesselId" class="form-select form-select-solid rounded-start-0 border-start" data-control="select2" data-placeholder="Select Vessel...">
									<option value="">Select a vessel...</option>
									@foreach (Vessel vessel in Model.VesselList)
									{
										<option value="@vessel.Id">@vessel.Name</option>
									}
								</select>
							</div>
						</div>
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-4">
						<div class="input-group input-group-solid mb-5">
							<span class="input-group-text required">Owner</span>
							<div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
								<select id="owners" asp-for="Voyage.OwnerId" class="form-select form-select-solid rounded-start-0 border-start" data-control="select2" data-placeholder="Select Owner...">
									<option value="">Select Owner...</option>
									@foreach (ShippingLineCompany owner in Model.OwnerShippinglineList)
									{
										<option value="@owner.Id">@owner.ShippingLineName</option>
									}
								</select>
							</div>
						</div>
					</div>
					<!--end::Col-->

				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-6">
					<!--begin::Col-->
					<div class="col-lg-4">
						<div class="input-group input-group-solid mb-5">
							<span class="input-group-text required">Voyage Number Out</span>
							<input type="text" asp-for="Voyage.VoyageNoOut" maxlength="20" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 hasMaxlength">
						</div>
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-4">
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-4">
						<div class="input-group input-group-solid mb-5">
							<span class="input-group-text required">Agent</span>
							<div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
								<select id="agents" asp-for="Voyage.AgentId" class="form-select form-select-solid rounded-start-0 border-start" data-control="select2" data-placeholder="Select Agent..." data-hide-search="true">
									<option value="">Select Agent...</option>
									@foreach (ShippingLineCompany agent in Model.AgentsOfOwnerList)
									{
										<option value="@agent.Id">@agent.ShippingLineName</option>
									}
								</select>
							</div>
						</div>
					</div>
					<!--end::Col-->
@*					<div class="separator separator-content my-15"><span class="w-150px">Dates and Times</span></div>
*@					<!--begin::Input group-->
@*					<div class="row">
						<div class="col-lg-3">
							<label class="form-label fw-bolder" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="ESTIMATED TIME ARRIVAL">ETA</label>
							<input  class="form-control form-control-solid" name="Voyage.ETA" placeholder="Pick date" id="eta" />
							<input type="text" id="etatime" name="Voyage.ETA" class="form-control form-control-solid my-3" autocomplete="off" placeholder="Pick time" />
						</div>
						<div class="col-lg-3">
							<label class="form-label fw-bolder" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="ACTUAL TIME ARRIVAL">ATA</label>
							<input class="form-control form-control-solid" name="Voyage.ATA" placeholder="Pick date" id="ata" />
							<input type="text" id="atatime" name="Voyage.ATA" class="form-control form-control-solid my-3" autocomplete="off" placeholder="Pick time" />
						</div>
						<div class="col-lg-3">
							<label class="form-label fw-bolder" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="ESTIMATED TIME DEPARTURE">ETD</label>
							<input class="form-control form-control-solid" name="Voyage.ETD" placeholder="Pick date" id="etd" />
							<input type="text" id="etdtime" name="Voyage.ETD" class="form-control form-control-solid my-3" autocomplete="off" placeholder="Pick time" />
						</div>
						<div class="col-lg-3">
							<label class="form-label fw-bolder" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="ACTUAL TIME DEPARTURE">ATD</label>
							<input class="form-control form-control-solid" name="Voyage.ATD" placeholder="Pick date" id="atd" />
							<input type="text" id="atdtime" name="Voyage.ATD" class="form-control form-control-solid my-3" autocomplete="off" placeholder="Pick time" />
						</div>
					</div>
*@					<!--end::Col-->
				</div>
				<!--end::Input group-->
@*				<div class="separator separator-content my-15"><span class="w-50px">Ports</span></div>
				<!--begin::Input group-->
				<div class="row">
					<!--begin::Col-->
					<div class="col-lg-4">
						<label class="form-label">Origin Port</label>
						<div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
							<select id="kt_docs_select2_country_originPort" asp-for="Voyage.OriginPortId" class="form-select form-select-solid" data-control="select2" data-placeholder="Select a Port..." data-allow-clear="true">
								<option value="">Select a Port...</option>
								@foreach (Port port in Model.PortList)
								{
									<option value="@port.Id">@port.PortName - @port.PortSymbol</option>
								}
								value="@port.Id" data-kt-select2-country="../assets/media/flags/@port.Country?.FlagName"
							</select>
						</div>
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-4">
						<label class="form-label">Previous Port</label>
						<div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
							<select id="kt_docs_select2_country_previousPort" asp-for="Voyage.PreviousPortId" class="form-select form-select-solid" data-control="select2" data-placeholder="Select a Port..." data-allow-clear="true">
								<option value="">Select a Port...</option>
								@foreach (Port port in Model.PortList)
								{
									<option value="@port.Id">@port.PortName - @port.PortSymbol</option>
								}
							</select>
						</div>
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-4">
						<label class="form-label">Next Port</label>
						<div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
							<select id="kt_docs_select2_country_nextPort" asp-for="Voyage.NextPortId" class="form-select form-select-solid" data-control="select2" data-placeholder="Select a Port..." data-allow-clear="true">
								<option value="">Select a Port...</option>
								@foreach (Port port in Model.PortList)
								{
									<option value="@port.Id">@port.PortName - @port.PortSymbol</option>
								}
							</select>
						</div>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
*@			</div>
			<!--end::Card body-->
			<div asp-validation-summary="All" class="text-danger"></div>
			<!--begin::Actions-->
			<div class="card-footer d-flex justify-content-end py-6 px-9">
				<a href="/BasicInfo/VoyageList" class="btn btn-light btn-active-light-primary me-2">Back</a>
				<button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save Changes</button>
			</div>
			<!--end::Actions-->
		</form>
		<!--end::Form-->
	</div>
	<!--end::Content-->
</div>

@section Links{
	<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <link href="~/css/datepicker/persiandatepicker-dark.css" rel="stylesheet" />
}

@section Scripts{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/persiandatepicker.min.js"></script>
    <script src="~/lib/dayjs/dayjs.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>

	<script src="~/js/timepicker-bs4.js"></script>
	<script type="text/javascript">
		$('.hasMaxlength').maxlength({
			warningClass: "badge badge-warning",
			limitReachedClass: "badge badge-danger"
		});

		$(document).ready(function () {
			$('#owners').change(function(){
				$.ajax({
					url: '/BasicInfo/GetAgentsOfOwner',
					type: 'GET',
					data: { ownerId: $('#owners').val() },
					success: function(res){
						$('#agents').empty();
						for(var i=0;i<res.length;i++){
							$('#agents').append('<option value="' + res[i].id + '">' + res[i].shippingLineName + '</option>')
						}
					}
				})
			})

			//$('#eta,#ata,#etd,#atd').persianDatepicker({
			//	theme: 'dark',
			//	formatDate: "YYYY/MM/DD",
			//	showGregorianDate: false,
			//	persianNumbers:true,
			//	cellWidth: 35,
			//	cellHeight: 30,
			//	fontSize: 16, 
			//});
			//$('#etatime,#etdtime').timepicker({
			//	step: 900
			//});

			//$("#atatime,#atdtime").timepicker({});

			@*//$('#eta').val('@Model.Voyage.ETA?.ToString("yyyy/MM/dd")');
			//$('#etatime').val('@Model.Voyage.ETA?.ToShortTimeString()');

			//$('#ata').val('@Model.Voyage.ATA?.ToString("yyyy/MM/dd")');
			//$('#atatime').val('@Model.Voyage.ATA?.ToShortTimeString()');

			//$('#etd').val('@Model.Voyage.ETD?.ToString("yyyy/MM/dd")');
			//$('#etdtime').val('@Model.Voyage.ETD?.ToShortTimeString()');

			//$('#atd').val('@Model.Voyage.ATD?.ToString("yyyy/MM/dd")');
			//$('#atdtime').val('@Model.Voyage.ATD?.ToShortTimeString()');*@

			//var optionFormat = function (item) {
			//	if (!item.id) {
			//		return item.text;
			//	}

			//	var span = document.createElement('span');
			//	var imgUrl = item.element.getAttribute('data-kt-select2-country');
			//	var template = '';

			//	template += '<img src="' + imgUrl + '" class="rounded-circle h-20px me-2" alt="image"/>';
			//	template += item.text;

			//	span.innerHTML = template;

			//	return $(span);
			//}
			//$('#kt_docs_select2_country_originPort,#kt_docs_select2_country_previousPort,#kt_docs_select2_country_nextPort').select2({
			//	templateSelection: optionFormat,
			//	templateResult: optionFormat
			//});
		});
	</script>
}
