@{
    ViewData["Title"] = "VesselStoppage Tariff Detail List";
}
@model VesselStoppageTariff

<div class="card">
    <div class="card-header border-0 pt-5">
        <div class="card-title d-flex align-items-center mb-7">
            <div class="symbol symbol-50px me-5">
                <span class="symbol-label bg-light-success">
                    <!--begin::Svg Icon | path: icons/duotune/abstract/abs027.svg-->
                    <span class="svg-icon svg-icon-2x svg-icon-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stoplights" viewBox="0 0 16 16">
                            <path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm0 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm1.5 2.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            <path d="M4 2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2h2c-.167.5-.8 1.6-2 2v2h2c-.167.5-.8 1.6-2 2v2h2c-.167.5-.8 1.6-2 2v1a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-1c-1.2-.4-1.833-1.5-2-2h2V8c-1.2-.4-1.833-1.5-2-2h2V4c-1.2-.4-1.833-1.5-2-2h2zm2-1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6z" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </span>
            </div>
            <div class="d-flex flex-column">
                <h3 class="card-label fw-bold text-dark">@Model.Description</h3>
                <span class="text-muted mt-1 fw-semibold fs-7">EffectiveDate: @Model.EffectiveDate.MiladiToShamsiDateString()</span>
            </div>
        </div>
    </div>
    <!--begin::Card body-->
    <div class="card-body p-10">
        <!--begin::Table-->
        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-4" data-paging="false" data-info="false" data-responsive="true">
                    <!--begin::Table head-->
                    <thead>
                        <!--begin::Table row-->
                        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                            <th class="min-w-100px sorting" data-priority="1">Vessel Type</th>
                            <th class="min-w-100px sorting">Normal Time <sup>(h)</sup></th>
                            <th class="min-w-100px sorting">Normal Price <sup>($)</sup></th>
                            <th class="min-w-100px sorting">Extra Price <sup>($)</sup></th>
                        </tr>
                        <!--end::Table row-->
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <tbody class="text-dark fw-bold">
                        @foreach (VesselStoppageTariffDetails vesselStoppageTariffDetail in Model.VesselStoppageTariffDetails)
                        {
                            <tr>
                                <td>
                                    @vesselStoppageTariffDetail.VesselType?.Name
                                </td>
                                <td>
                                    @vesselStoppageTariffDetail.NormalHour
                                </td>
                                <td>
                                    @vesselStoppageTariffDetail.NormalPrice
                                </td>
                                <td>
                                    @vesselStoppageTariffDetail.ExtraPrice
                                </td>
                            </tr>
                        }
                    </tbody>
                    <!--end::Table body-->
                </table>
            </div>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
    <!--begin::Actions-->
    <div class="card-footer d-flex justify-content-end py-6 px-9">
        <a href="/BasicInfo/VesselStoppageTariffList" class="btn btn-light btn-active-light-primary me-2">Back</a>
    </div>
    <!--end::Actions-->
</div>

@section Scripts{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
}

@section Links{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
}
