@{
    ViewData["Title"] = Model.Items.PageInfo.Title;
}
@model Negin.WebUI.Models.ViewModels.InvoiceViewModel
@inject IUrlHelper UrlHelper;

<div class="row g-xl-4">
    <div class="card">
        <div class="card-header border-0 pt-6" data-select2-id="select2-data-132-bv4b">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <input type="text" id="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search VesselStoppages" value="@Model.Items.PageInfo.Filter">
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->
        </div>
        <div class="card-body p-10" style="padding-top:10px !important">
            <!--begin::Table-->
            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="table-responsive">
                    <table class="table align-middle table-row-dashed fs-6 gy-4" data-paging="false" data-info="false" data-responsive="true">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th class="w-220px" data-priority="1">Vessel Name / Voyage No In</th>
                                <th>Owner</th>
                                <th class="min-w-175px">Agent</th>
                                <th>ATA</th>
                                <th class="w-70px">Status</th>
                                <th data-priority="2"></th>
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        @{
                            int v = 0;
                        }
                        <tbody class="text-dark fw-bold">
                            @foreach (Tuple<VesselStoppage, Voyage> tuple in Model.Items.Data)
                            {
                                <tr class="h-60px">
                                    <td>
                                        <span>@tuple.Item2.Vessel?.Name /</span>
                                        <span>@tuple.Item1.VoyageNoIn</span>
                                    </td>
                                    <td class="text-gray-400">@tuple.Item2.Owner?.ShippingLineName</td>
                                    <td class="text-gray-400">@tuple.Item2.Agent?.ShippingLineName</td>
                                    <td><span class="badge badge-dark fw-bold">@Html.Raw(tuple.Item1.ATA.Value.MiladiToShamsi().ToShamsiDateString(tuple.Item1.ATADayOfTheWeek))</span></td>
                                    <td>
                                        <partial name="../Shared/_VesselStoppageStatus.cshtml" for="@tuple.Item1"></partial>
                                    </td>
                                    <td class="text-end">
                                        @if (tuple.Item1.Status != VesselStoppage.VesselStoppageStatus.Invoiced)
                                        {
                                            <a href="/Billing/CreateInvoice?voyageId=@tuple.Item2.Id" class="btn btn-bg-light btn-active-color-primary btn-sm">Create Invoice</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <ul class="pagination">
                        <li id="previous" class="page-item previous"><a href="@UrlHelper.Action("List", new { pageNumber = Model.Items.PageInfo.PageNumber-1, filter=Model.Items.PageInfo.Filter })" class="page-link"><i class="previous"></i></a></li>
                        @for (int i = 1; i <= Model.Items.PageInfo.PageCount; i++)
                        {

                            <li class="page-item @(i == Model.Items.PageInfo.PageNumber ? "active" : "")">
                                <a class="page-link " href="@UrlHelper.Action("List", new { pageNumber = i,filter=@Model.Items.PageInfo.Filter })">@i</a>
                            </li>

                        }
                        <li id="next" class="page-item next"><a href="@UrlHelper.Action("List", new { pageNumber = Model.Items.PageInfo.PageNumber+1, filter=Model.Items.PageInfo.Filter })" class="page-link"><i class="next"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--end::Table-->
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search').keydown(function (event) {
                if (event.which == 13) {
                    location = '/Billing/List/?filter=' + $('#search').val();
                }
            });

            if (@Model.Items.PageInfo.PageNumber >= @Model.Items.PageInfo.PageCount) {
                $('#next').addClass("disabled")
            }
            if (@Model.Items.PageInfo.PageNumber <= 1) {
                $('#previous').addClass("disabled")
            }
        })
    </script>

}

@section Links{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
}


