@{
    ViewData["Title"] = Model.Items.PageInfo.Title;
}
@model Negin.WebUI.Models.ViewModels.InvoiceViewModel

<div class="row g-xl-4">
    <div class="card">
        <div class="card-header border-0 pt-6" data-select2-id="select2-data-132-bv4b">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <input type="text" id="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search VesselStoppages" value="@Model.Items.PageInfo.Filter">
                    <!--begin::Filter-->
                    <select id="filter" class="form-select form-select-solid w-150px ms-4" data-control="select2" data-hide-search="true" data-kt-datatable-responsive-filter="status" data-kt-initialized="1">
                        <option value="all">All</option>
                        <option value="invoiced">Invoiced</option>
                        <option value="notInvoiced">NotInvoiced</option>
                    </select>
                    <!--end::Filter-->
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->
        </div>
        <div class="card-body p-10" style="padding-top:10px !important">
            <!--begin::Table-->
            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="table-responsive">
                    <table class="table align-middle table-row-dashed fs-6 gy-4" data-paging="false" data-info="false" data-responsive="true">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th class="w-220px" data-priority="1">Vessel Name / Voyage No In</th>
                                <th>Owner</th>
                                <th class="min-w-175px">Agent</th>
                                <th>ATA</th>
                                <th class="w-min-50px">Status</th>
                                <th class="text-end" data-priority="2">Actions</th>
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        @{
                            int v = 0;
                        }
                        <tbody class="text-dark fw-bold">
                            @foreach (VesselStoppage vs in Model.Items.Data)
                            {
                                <tr class="h-60px">
                                    <td>
                                        <span>@vs.Voyage.Vessel?.Name /</span>
                                        <span>@vs.VoyageNoIn</span>
                                    </td>
                                    <td class="text-gray-400">@vs.Voyage.Owner?.ShippingLineName</td>
                                    <td class="text-gray-400">@vs.Voyage.Agent?.ShippingLineName</td>
                                    <td><span class="badge badge-dark fw-bold">@Html.Raw(vs.ATA.Value.MiladiToShamsi().ToShamsiDateString(vs.ATADayOfTheWeek))</span></td>
                                    <td>
                                        <partial name="../Shared/_VesselStoppageStatus.cshtml" for="@vs"></partial>
                                        @if (vs.StartStorm != null && vs.EndStorm != null)
                                        {
                                            <img src="~/assets/media/images/rain.gif" style="width:30px" />
                                        }

                                    </td>
                                    <td class="text-end">
                                        @if (vs.Status != VesselStoppage.VesselStoppageStatus.Invoiced)
                                        {
                                            <a href="/Billing/CreateInvoice?voyageId=@vs.Voyage.Id" class="btn btn-bg-primary btn-color-white btn-active-color-dark btn-sm">Create Invoice</a>
                                        }
                                        else
                                        {
                                            <a href="/Billing/IssuedInvoiceDetails?id=@vs.VesselStoppageInvoiceDetail?.InvoiceId" class="btn btn-bg-secondary btn-color-dark btn-active-color-white btn-sm">Invoice Detail</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <partial name="../Shared/_PagerPartial.cshtml" for="@Model.Items.PageInfo"></partial>
                </div>
            </div>
            <!--end::Table-->
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var invoiced = '@Model.Items.PageInfo.Specification.Split("=").Last()';
            if (invoiced == 'True') {
                $('#filter').val("invoiced").change();
            }
            if (invoiced == 'False')
            {
                $('#filter').val("notInvoiced").change();
            }
            if (invoiced == '')
            {
                $('#filter').val("all").change();
            }
           
            $('#search').keydown(function (event) {
                if (event.which == 13) {
                    location = '/Billing/List/?filter=' + $('#search').val() + '&invoiced=' + invoiced;
                }
            });

            const s = document.querySelector('[data-kt-datatable-responsive-filter="status"]');
            $(s).on("change", (s) => {
                let o = s.target.value;
                if ("all" === o) {
                    location = '/Billing/List/?filter=' + $('#search').val();
                }
                if ("invoiced" === o) {
                    location = '/Billing/List/?invoiced=true&filter=' + $('#search').val();
                }
                if ("notInvoiced" === o) {
                    location = '/Billing/List/?invoiced=false&filter=' + $('#search').val();
                }
            });

        })
    </script>

}

@section Links{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
}


