@{
    ViewData["Title"] = Model.Voyages.PageInfo.Title;
}
@model Negin.WebUI.Models.ViewModels.InvoiceViewModel

<div class="row g-xl-4">
    <div class="col-lg-6 col-xxl-4">
        <div class="card h-100">
            <div class="card-body p-9">
                <div class="fs-2hx fw-bold">@Model.ActiveVoyages</div>
                <div class="fs-4 fw-semibold text-gray-400 mb-7">Active Voyages</div>
                <div class="d-flex flex-wrap">
                    <!--begin::Chart-->
                    <div class="d-flex flex-center h-100px w-100px me-9 mb-5">
                        <canvas id="kt_voyage_list_chart1" width="100" height="100" style="display: block; box-sizing: border-box; height: 100px; width: 100px;"></canvas>
                    </div>
                    <!--end::Chart-->
                    <!--begin::Labels-->
                    <div class="d-flex flex-column justify-content-center flex-row-fluid pe-11 mb-5">
                        <!--begin::Label-->
                        <div class="d-flex fs-6 fw-semibold align-items-center mb-3">
                            <div class="bullet bg-primary me-3"></div>
                            <div class="text-gray-400">InProcess</div>
                            <div class="ms-auto fw-bold text-gray-700">@Model.InProcess</div>
                        </div>
                        <!--end::Label-->
                        <!--begin::Label-->
                        <div class="d-flex fs-6 fw-semibold align-items-center mb-3">
                            <div class="bullet bg-success me-3"></div>
                            <div class="text-gray-400">Gone</div>
                            <div class="ms-auto fw-bold text-gray-700">@Model.Gone</div>
                        </div>
                        <!--end::Label-->
                        <!--begin::Label-->
                        <div class="d-flex fs-6 fw-semibold align-items-center">
                            <div class="bullet bg-gray-300 me-3"></div>
                            <div class="text-gray-400">WaitForVessel</div>
                            <div class="ms-auto fw-bold text-gray-700">@Model.WaitForVessel</div>
                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Labels-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xxl-4">
        <div class="card h-100">
            <div class="card-body p-9">
                <div class="fs-2hx fw-bold">@Model.VesselStoppageCount</div>
                <div class="fs-4 fw-semibold text-gray-400 mb-7">Ready for Invoicing</div>
                <div class="d-flex flex-wrap">
                    <!--begin::Chart-->
                    <div class="d-flex flex-center h-100px w-100px me-9 mb-5">
                        <canvas id="kt_voyage_list_chart2" width="100" height="100" style="display: block; box-sizing: border-box; height: 100px; width: 100px;"></canvas>
                    </div>
                    <!--end::Chart-->
                    <!--begin::Labels-->
                    <div class="d-flex flex-column justify-content-center flex-row-fluid pe-11 mb-5">
                        <!--begin::Label-->
                        <div class="d-flex fs-6 fw-semibold align-items-center mb-3">
                            <div class="bullet bg-primary me-3"></div>
                            <div class="text-gray-400">Invoiced</div>
                            <div class="ms-auto fw-bold text-gray-700">@Model.Invoiced</div>
                        </div>
                        <!--end::Label-->
                        <!--begin::Label-->
                        <div class="d-flex fs-6 fw-semibold align-items-center mb-3">
                            <div class="bullet bg-gray-300 me-3"></div>
                            <div class="text-gray-400">Not Invoiced</div>
                            <div class="ms-auto fw-bold text-gray-700">@(Model.VesselStoppageCount - Model.Invoiced)</div>
                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Labels-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xxl-4">
        <div class="card h-100">
            <div class="card-body p-9">
                <div class="fs-2hx fw-bold">@Model.Invoiced</div>
                <div class="fs-4 fw-semibold text-gray-400 mb-7">Invoiced</div>
                <div class="d-flex flex-wrap">
                    <!--begin::Chart-->
                    <div class="d-flex flex-center h-100px w-100px me-9 mb-5">
                        <canvas id="kt_voyage_list_chart3" width="100" height="100" style="display: block; box-sizing: border-box; height: 100px; width: 100px;"></canvas>
                    </div>
                    <!--end::Chart-->
                    <!--begin::Labels-->
                    <div class="d-flex flex-column justify-content-center flex-row-fluid pe-11 mb-5">
                        <!--begin::Label-->
                        <div class="d-flex fs-6 fw-semibold align-items-center mb-3">
                            <div class="bullet bg-primary me-3"></div>
                            <div class="text-gray-400">Confirmed</div>
                            <div class="ms-auto fw-bold text-gray-700">@Model.Confirmed</div>
                        </div>
                        <!--end::Label-->
                        <!--begin::Label-->
                        <div class="d-flex fs-6 fw-semibold align-items-center">
                            <div class="bullet bg-gray-300 me-3"></div>
                            <div class="text-gray-400">Not Confirmed</div>
                            <div class="ms-auto fw-bold text-gray-700">@(Model.Invoiced - Model.Confirmed)</div>
                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Labels-->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="voyageList" class="row g-xl-4">
    <partial name="Shared/_VoyageInvoice.cshtml" for="@Model.Voyages"></partial>
</div>

@section Scripts{
    <script src="~/assets/plugins/doughnutchart.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var data1 = [@Model.InProcess, @Model.Gone, @Model.WaitForVessel];
            var data2 = [@Model.Invoiced, 0, @(Model.VesselStoppageCount - Model.Invoiced)];
            var data3 = [@Model.Confirmed, 0, @(Model.Invoiced - Model.Confirmed)]
            KTUtil.onDOMContentLoaded(function () {
                KTDoughnutList.init(data1, $('#kt_voyage_list_chart1'), ['InProcess', 'Gone', 'WaitForVessel']);
                KTDoughnutList.init(data2, $('#kt_voyage_list_chart2'), ['Invoiced', '', 'NotInvoiced']);
                KTDoughnutList.init(data3, $('#kt_voyage_list_chart3'), ['Confirmed', '', 'NotConfirmed']);
            });
        })
    </script>
}

@section Links{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
}


