@{
    ViewData["Title"] = "Edit Vessel Stoppage";
}
@model VesselStoppage

<div class="card mb-5">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <!--begin::Card title-->
        <div class="card-title m-0">
            <h3 class="fw-bold m-0">@ViewData["Title"]</h3>
        </div>
        <!--end::Card title-->
    </div>
    <!--end::Card header-->

    <div class="card-body py-4">
        <form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" asp-controller="Operation" asp-action="EditVesselStoppage" method="post" autocomplete="off">
           <div class="row">
                <div class="col-5">
                    <div class="card shadow-sm parent-hover">
                        <div class="card-body d-flex align-items">
                            <span class="">
                                <img src="~/assets/media/images/boat-with-containers.png" style="width:25px" />
                            </span>
                            <span class="ms-3 mt-2 text-gray-700 parent-hover-primary fs-6 fw-bold">
                                @ViewBag.VesselName /
                            </span>
                            <span class="ms-3"><input type="text" ma name="voyageNoIn" class="form-control hasMaxlength h-30px" maxlength="20" value="@Model.VoyageNoIn" placeholder="Enter VoyageNoIn" /></span>
                        </div>
                    </div>
                </div>
                <div class="col-7 d-flex justify-content-end">
                    <span data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Storm breaker">
                        @if (Model.StartStorm == null && Model.EndStorm == null)
                        {
                            <a href="#" class="btn btn-lg btn-secondary" data-bs-toggle="modal" data-bs-target="#kt_modal_stormBreaker"><i class="bi bi-cloud-rain-heavy-fill fs-1"></i></a>
                        }else
                        {
                            <a href="#" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#kt_modal_stormBreaker"><img src="~/assets/media/images/rain.gif" style="width:40px" /></a>
                        }
                    </span>
                </div>
            </div>
            <div class="separator separator-content my-15"><span class="w-150px">Dates and Times</span></div>

            <!--begin::Input group-->
            <div class="row">
                <div class="col-lg-3">
                    <label class="form-label fw-bolder" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="ESTIMATED TIME ARRIVAL">ETA</label>
                    <input class="form-control form-control-solid" name="ETA" placeholder="Pick date" id="eta" value="@Model.ETA?.ToShortShamsiDateString()" />
                    <input type="text" id="etatime" asp-for="ETATime" class="form-control form-control-solid time my-3" autocomplete="off" placeholder="Pick time" />
                </div>
                <div class="col-lg-3">
                    <label class="form-label fw-bolder" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="ACTUAL TIME ARRIVAL">ATA</label>
                    <input class="form-control form-control-solid" name="ATA" placeholder="Pick date" id="ata" value="@Model.ATA?.ToShortShamsiDateString()" />
                    <input type="text" id="atatime" asp-for="ATATime" class="form-control form-control-solid time my-3" autocomplete="off" placeholder="Pick time" />
                </div>
                <div class="col-lg-3">
                    <label class="form-label fw-bolder" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="ESTIMATED TIME DEPARTURE">ETD</label>
                    <input class="form-control form-control-solid" name="ETD" placeholder="Pick date" id="etd" value="@Model.ETD?.ToShortShamsiDateString()" />
                    <input type="text" id="etdtime" asp-for="ETDTime" class="form-control form-control-solid time my-3" autocomplete="off" placeholder="Pick time" />
                </div>
                <div class="col-lg-3">
                    <label class="form-label fw-bolder" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="ACTUAL TIME DEPARTURE">ATD</label>
                    <input class="form-control form-control-solid" name="ATD" placeholder="Pick date" id="atd" value="@Model.ATD?.ToShortShamsiDateString()" />
                    <input type="text" id="atdtime" asp-for="ATDTime" class="form-control form-control-solid time my-3" autocomplete="off" placeholder="Pick time" />
                </div>
                <input type="hidden" value="@ViewBag.VesselStoppageId" asp-for="Id" />
            </div>
            <!--end::Input group-->
            <div class="separator separator-content my-15"><span class="w-50px">Ports</span></div>
            <!--begin::Input group-->
            <div class="row">
                <!--begin::Col-->
                <div class="col-lg-4">
                    <label class="form-label">Origin Port</label>
                    <div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
                        <select id="kt_docs_select2_country_originPort" asp-for="OriginPortId" class="form-select form-select-solid" data-control="select2" data-placeholder="Select a Port..." data-allow-clear="true">
                            <option value="">Select a Port...</option>
                            @foreach (Port port in @ViewBag.Ports)
                            {
                                <option value="@port.Id">@port.PortName - @port.PortSymbol</option>
                            }
                        </select>
                    </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-lg-4">
                    <label class="form-label">Previous Port</label>
                    <div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
                        <select id="kt_docs_select2_country_previousPort" asp-for="PreviousPortId" class="form-select form-select-solid" data-control="select2" data-placeholder="Select a Port..." data-allow-clear="true">
                            <option value="">Select a Port...</option>
                            @foreach (Port port in @ViewBag.Ports)
                            {
                                <option value="@port.Id">@port.PortName - @port.PortSymbol</option>
                            }

                        </select>
                    </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-lg-4">
                    <label class="form-label">Next Port</label>
                    <div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
                        <select id="kt_docs_select2_country_nextPort" asp-for="NextPortId" class="form-select form-select-solid" data-control="select2" data-placeholder="Select a Port..." data-allow-clear="true">
                            <option value="">Select a Port...</option>
                            @foreach (Port port in @ViewBag.Ports)
                            {
                                <option value="@port.Id">@port.PortName - @port.PortSymbol</option>
                            }

                        </select>
                    </div>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->
            <br /><br />
            <div asp-validation-summary="All" class="text-danger"></div>
            <!--begin::Actions-->
            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <a href="/Operation/List" class="btn btn-light btn-active-light-primary me-2">Back</a>
                <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save Changes</button>
            </div>
            <!--end::Actions-->
            <input type="hidden" value="@ViewBag.VesselName" name="vesselName" />

            <!--begin::Modal-->
            <div class="modal fade" tabindex="-1" id="kt_modal_stormBreaker">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Storm Breaker</h3>

                            <!--begin::Close-->
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                            </div>
                            <!--end::Close-->
                        </div>

                        <div class="modal-body">
                            <!--begin::Input group-->
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form-label fw-bolder">beginning of the storm</label>
                                    <input class="form-control form-control-solid" name="startStorm" placeholder="Pick date" id="startStorm" autocomplete="off" value="@Model.StartStorm?.ToShortShamsiDateString()" />
                                    <input type="text" asp-for="StartStormTime" class="form-control form-control-solid my-3 time" autocomplete="off" placeholder="Pick time" />
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label fw-bolder">end of the storm</label>
                                    <input class="form-control form-control-solid" name="endStorm" placeholder="Pick date" id="endStorm" autocomplete="off" value="@Model.EndStorm?.ToShortShamsiDateString()" />
                                    <input type="text" asp-for="EndStormTime" class="form-control form-control-solid my-3 time" autocomplete="off" placeholder="Pick time" />
                                </div>
                            </div>
                            <!--end::Input group-->

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal-->

        </form>
    </div>
</div>

@section Links{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <link href="~/css/datepicker/persiandatepicker-dark.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/js/persiandatepicker.min.js"></script>
    <script type="text/javascript">
        $('#operation').addClass("show");
        $('.hasMaxlength').maxlength({
            warningClass: "badge badge-warning",
            limitReachedClass: "badge badge-danger"
        });
       

        $(function () {
            $('#eta,#ata,#etd,#atd,#startStorm,#endStorm').persianDatepicker({
                theme: 'dark',
                formatDate: "YYYY/MM/DD",
                showGregorianDate: false,
                persianNumbers: true,
                cellWidth: 35,
                cellHeight: 30,
                fontSize: 16,
            });

            timeInputmask();
        })

        function timeInputmask() {
            Inputmask({
                "mask": "h9:m9",
                "definitions": {
                    "h": {
                        validator: '[0-2]',
                        cardinality: 1,
                    },
                    "m": {
                        validator: '[0-5]',
                        cardinality: 1,
                    }
                }
            }).mask(".time");
        }

    </script>
}

